<!-- header -->
<md-toolbar role="header" color="primary">
  <span>
      <button md-icon-button (click)="sidenav.open()">
        <md-icon>menu</md-icon>
      </button>
    </span>
  <span>???</span>

  <span style="flex: 1 1 auto"></span>

  <span>
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item [routerLink]="['/posts']">홈으로</button>
      <button md-menu-item [routerLink]="['/write']">작성하기</button>
    </md-menu>
  </span>
</md-toolbar>

<md-sidenav-container>

  <!-- sidenav -->
  <md-sidenav #sidenav style="width:300px">
    <md-toolbar>
      <span>계정</span>
    </md-toolbar>

    <!-- if no user login -->
    <div *ngIf="!authService.isLogin()">
      <!-- login tab -->
      <app-login></app-login>
      <!-- signup tab -->
      <app-signup></app-signup>
    </div>

    <!-- if user login -->
    <div *ngIf="authService.isLogin()">
      <app-login-info></app-login-info>
    </div>

    <md-toolbar>
      <span>카테고리</span>
    </md-toolbar>

    <!-- categories -->
    <md-nav-list>
      <a md-list-item *ngFor="let category of categories"> {{ category.category }} </a>
    </md-nav-list>
  </md-sidenav>
  <div class="contents">
    <router-outlet></router-outlet>
  </div>
  <!-- footer  -->
  <md-toolbar>
    <span style="flex: 1 1 auto"></span>
    <span>norr.kr &copy; 2017 all rights reversed.</span>
    <span style="flex: 1 1 auto"></span>
  </md-toolbar>

</md-sidenav-container>

<button *ngIf="router.url === '/posts'" class="fab-button" md-fab color="primary" (click)="refresh()"><md-icon>autorenew</md-icon></button>